/* #region Debug */

.debug .sidebar {
    background-color: aqua;
}

.debug .my_up_menu, .debug .my_down_menu {
    background-color: violet;
    height: 100px;
    width: 100%;
}

.debug .selection {
    background-color: green;
    border: 1px solid;
    width: 100%;
    height: 30%;
}

.debug .contents {
    background-color: yellow;
    height: 1200px;
}

.debug .square {
    width: 100px;
    height: 100px;
    background-color: red;
}

.debug [class^="col-"] {
    height: 300px;
    background-color: greenyellow;
    border: 1px dashed;
}

/* #endregion Debug */

:root {
    --bol-dash-primary-dark: #165bba;
}

#head_site {
    
    height: 70px;
}

.nav {
    background-color: white;
}

.search_bar {
    font-size: 0.8rem;
    width: 50vw;
}

.sidebar {
    width: 68px;
    height: calc(100vh - 70px);
    background-image: url(../img/sidebar-bg.png);
    background-color: #051e34;
    height: calc(100vh - 70px);
}



.wrapper {
    
    width: 100%;
}

.contents {
    width: 100%;
    overflow-y: auto;
}

.my_btn {
    background-color: var(--bol-dash-primary-dark);
    color: white;
    padding: 0.1rem 0.7rem;
    height: 2rem;
}

.my_btn_circle {
    background-color: var(--bol-dash-primary-dark);
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    text-align: center;
    padding: 0.2rem;
}

.add_student .btn {
    border: 1px solid white;
}

#main_site .my_w_100 {
    width: 100%;
}



@media screen and (min-width: 768px) {
    .sidebar {
        width: 150px;
    }
    #main_site .my_w_100 {
        width: 50%;
    }
    
}















